<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.renderRendering>
        <processor
          type="XmCloudNextJsStarter.Pipelines.RenderRendering.SkipRenderingsInEditMode, XmCloudNextJsStarter"
          patch:before="processor[1]">
          <ConfigurationItemId>{7D0C4E4D-6F66-4E54-9C8C-4BF8B7757A7D}</ConfigurationItemId>
          <FieldNameOrId>{A0B4E7B0-4A38-4B6D-B8C7-5F7CC0B5E4F4}</FieldNameOrId>
        </processor>
      </mvc.renderRendering>
    </pipelines>
  </sitecore>
</configuration>